#section__competences {
    display: block;
}

#section__competences .section__title{
    padding: 1rem;
}
#section__title-skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#devenir__title,
#section__title-skills h2{
    filter: drop-shadow(0px 0px 10px var(--box-shadow));
    opacity: 90%;
}
.section__title--bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--box-shadow-300);
    filter: blur(40px);
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-4deg);
}

.langages{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
}

.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-card-front);
    color: var(--text-primary);
    border-radius: 5px;
    width: 100%;
    height: 150px;
    padding: 1rem 2rem;
    text-align: center;
    transition: .3s ease-in-out;
    z-index: 1;
}

.tile:hover{
    transform: translateY(-.2rem);
}

.tile .tile__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile__header-logos .tile__logo{
    min-width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
}

.grid--competences-pro{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto;
}

@media (min-width: 810px) {
    .langages{
        flex-direction: row;
        overflow-x: scroll;
    }

    .tile{
        width: max-content;
        min-width: 300px;
    }

    #section__title-skills::before {
        width: 160%;
    }
}