.button{
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.5rem;
    transition: ease-in-out .3s;
    text-decoration: none;
}
button{
    border: none;
}
.button:hover,
button:hover{
    cursor: pointer;
}

.button--primary:hover {
    background: var(--accent-gradient);
    color: var(--text-primary);
}

.button--primary {
    border: 2px solid var(--accent-primary);
    color: var(--accent-primary);
    background: var(--bg-primary);
}

.button--secondary:hover {
    color: var(--accent-primary);
    background: var(--white-700);
    transform: scale(1.1);
}

.button--secondary {
    border: 2px solid var(--white-800);
    color: var(--white);
    background: transparent;
}
.button--contact:hover,
.button--tertiaire:hover {
    transform: scale(1.05);
}

.button--tertiaire {
    border: 2px solid var(--white-800);
    background: var(--accent-gradient);
    color: var(--white);
}

.button--contact{
    border: 2px solid var(--white-800);
    background: var(--bg-cell-contact);
    color: var(--white);
}

.button--scale:hover{
    transform: scale(1.05);
}

.button--to-top{
    background-color: var(--accent-primary-500);
    color: var(--text-primary);
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    z-index: 10000;
    transition: ease-in-out .3s;
    animation: opacity 1s ease-in-out;
}

.button--to-top.visible{
    opacity: 1;
    visibility: visible;
}

.button--to-top:hover{
    background-color: var(--accent-primary);
    transform: scale(1.05);
}

.button--more{
    color: var(--text-primary);
}

.button--more:hover{
    text-decoration: underline;
    color: var(--accent-primary);
}

.button:disabled:hover,
.button:disabled{
    background: var(--grey);
    color: var(--text-black);
    cursor:not-allowed;
    transform: none;
}

.button--fit{
    width: fit-content;
}