#section__competences {
    display: block;
}

#section__competences .section__title{
    padding: 1rem;
    color: var(--text-primary);
}
#section__title-skills{
    display: flex;
    justify-content: center;
}
#section__title-skills h2{
    filter: drop-shadow(0px 0px 10px var(--box-shadow));
    color: var(--text-white);
    opacity: 90%;
}


#section__title-skills::before {
    content: '';
    position: absolute;
    left: -25%;
    width: 150%;
    height: 100%;
    background: var(--box-shadow-300);
    filter: blur(40px);
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-4deg);
}

.langages{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .5rem;
    padding: 0 2rem;
}

.langage__container--competence{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-card-front);
    color: var(--text-primary);
    border-radius: 5px;
    width: 100%;
    height: 150px;
    padding: 1rem 2rem;
    text-align: center;
    transition: .3s ease-in-out;
    z-index: 1;
}

.langage__container--competence:hover{
    transform: translateY(-.2rem);
}

.container__logos--competence .container__content{
    display: flex;
    align-items: center;
}

.container__logos--competence .cell__logo{
    min-width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .langages{
        flex-direction: row;
        overflow-x: scroll;
    }

    .langage__container--competence{
        width: max-content;
    }
    #section__title-skills {
        width: 30%;
    }
}