#section__contact{
    position: relative;
    display: block;
}
#section__contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    background: var(--accent-gradient-500);
    clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

#section__contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    background: var(--bg-footer);
    clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

#grid__contact{
    grid-template-areas: 
            "contact"
            "social"
            "recherche"
            "cv";
    grid-template-columns: 1fr;
}

#contact__cell_1{
    grid-area: contact; 
}

#contact__cell_2{
    grid-area: social;
}
#contact__cell_3{
    grid-area: recherche;
}
#contact__cell_4{
    grid-area: cv;
}

.grid__cell--contact{
    border-radius: 15px;
    padding: 2rem;
    background: var(--bg-cell-contact);
}

.item--social{
    border: 1px solid var(--white-700);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.item--social:hover{
    transform: scale(1.025);
    color: var(--accent-primary);
}
#form__contact{
    grid-template-areas: 
        "title"
        "name"
        "email"
        "sujet"
        "message"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 24px;
}

#form__contact__cell_1{
    grid-area: title;
}
#form__contact__cell_2{
    grid-area: name;
}
#form__contact__cell_3{
    grid-area: email;
}
#form__contact__cell_4{
    grid-area: sujet;
}
#form__contact__cell_5{
    grid-area: message;
}
#form__contact__cell_6{
    grid-area: footer;
}
@media (min-width: 600px){
    #grid__contact{
        grid-template-areas:
            "contact contact"
            "social recherche"
            "cv cv";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
    }

}

@media (min-width: 950px){
    #grid__contact{
        grid-template-areas: 
            "contact social"
            "contact recherche"
            "contact cv";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto minmax(100px, 1fr) 100px;
    }
    #form__contact__cell_2 .cell__content{     
        flex-direction: row;
    }
    #form__contact{
        grid-template-areas:
        "title title"
        "name email"
        "sujet sujet"
        "message message"
        "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 24px;
    }

    #contact__cell_2,
    #contact__cell_3,
    #contact__cell_4{
        height: fit-content;
    }
}