#section__contact{
    position: relative;
    display: block;
    filter: drop-shadow(0px 0px 10px var(--box-shadow));
}

#section__contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-primary-500);
    clip-path: polygon(0 25px, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

#grid__contact{
    grid-template-areas: 
            "contact"
            "social";
    grid-template-columns: 1fr;
}

#contact__cell_1{
    grid-area: contact; 
}

#contact__cell_2{
    grid-area: social; 
    height: fit-content;
}

.grid__cell--contact{
    background: var(--bg-card-back);
    padding: 2rem;
    border-radius: 15px;
}

.item--social{
    border: 1px solid var(--white-700);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    transition: .3s ease-in-out;
}


.item--social:hover{
    /* box-shadow: 0px 0px 5px var(--accent-primary-500); */
    background: var(--accent-primary-200);
    color: var(--accent-primary);
    border-color: var(--accent-primary);
    transform: scale(1.05);
}
#form__contact{
    grid-template-areas: 
        "title"
        "name"
        "email"
        "message"
        "footer"
        ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 24px;
}

#form__contact__cell_1{
    grid-area: title;
}
#form__contact__cell_2{
    grid-area: name;
}

#form__contact__cell_3{
    grid-area: email;
}
#form__contact__cell_4{
    grid-area: message;
}
#form__contact__cell_5{
    grid-area: footer;
}

@media (min-width: 950px){
    #grid__contact{
        grid-template-areas: 
            "contact social";
        grid-template-columns: 2fr 1fr;
    }
    #form__contact__cell_2 .cell__content{     
        flex-direction: row;
    }
}