#section__footer{
    position: relative;
    display: block;
    filter: drop-shadow(0px 0px 10px var(--box-shadow));
}

#section__footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-primary);
    clip-path: polygon(0 25px, 100% 0, 100% calc(100% - 25px), 0 100%);
    z-index: -1;
}