fieldset{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: none;
    width: 100%;
}

.fieldset--row{
    flex-direction: row;
}

.fieldset--center{
    align-items: center;
}

label{
    margin-bottom: 3px;
}

fieldset input, 
fieldset textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    border: 2px solid transparent;
    background: var(--bg-primary);
    color: var(--text-primary);
    backdrop-filter: drop-shadow(0 0 3px var(--accent-primary));
}

fieldset input:focus,
fieldset textarea:focus{
    outline: none;
    border: 2px solid var(--text-white);
}

fieldset textarea{
    resize: vertical;
    min-height: 4.5rem; /*3lignes*/
    font-family: "Poppins", sans-serif;
}

input[type="checkbox"]{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    accent-color: var(--accent-primary);
}



@keyframes opacityVariation {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}