.grid {
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
}

.grid__cell--row{
    flex-direction: row;
}

.cell__logos{
    display: flex;
    justify-content: space-around;
    gap:15px;
}

.cell__logos-logo{
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}


.cell__content{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.cell__content--gutter--xxl{
    gap:35px;
}
.cell__content--gutter--xl{
    gap:30px;
}
.cell__content--gutter--l{
    gap:25px;
}
.cell__content--gutter--m{
    gap:20px;
}
.cell__content--gutter--s{
    gap:15px;
}
.cell__content--gutter--xs{
    gap:10px;
}
.cell__content--gutter--xxs{
    gap:5px;
}

.cell__content--center{
    justify-content: center;
}

.cell__content--nogap{
    gap: 0;
}

.cell__content--row{
    flex-direction: row;
}

.cell__content--start{
    justify-content: start;
}

.cell__content--end{
    justify-content: end;
}

.cell__header{
    margin-bottom: 25px;
    text-align: center;
}

.grid__cell{
    width: 100%;
    display: grid;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.grid__cell--footer{
    margin-top: 20px;
}

.grid__cell--center{
    align-items: center;
}

.grid__cell--middle{
    justify-content: center;
}

.cell__images {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell__image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.cell__images--bg-blur{
    backdrop-filter: blur(100px);
    position: relative;
}

.cell__images--bg-blur::before {
    content: '';
    position: absolute;
    width: 85%; /* Ajustez la taille */
    height: 85%;
    background: var(--bg-avatar); /* Couleur du fond */
    border-radius: 50%; /* Rond */
    filter: blur(40px); /* Effet de flou */
    z-index: 0;
}

/* Tailles de grid responsive */
.grid--xxl {
    max-width: 1200px;
}

.grid--xl {
    max-width: 1000px;
}

.grid--l {
    max-width: 900px;
}

.grid--m {
    max-width: 800px;
}

.grid--s {
    max-width: 600px;
}

.grid--xs {
    height: 400px;
}

.grid--xxs {
    height: 350px;
}

.grid--fit {
    height: fit-content;
}

.cell__logos--between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cell__logos--start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}