#grid__home{
    grid-template:
    'home_cell_2'
    'home_cell_1'
    'home_cell_footer';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

#home_cell_1{
    grid-area: home_cell_1;
}
#home_cell_2{
    grid-area: home_cell_2;
}
#home_cell_footer{
    grid-area: home_cell_footer;
}

.cell__content--md-end{
    justify-content: center;
    align-items: center;
}
@media (min-width: 890px) {
    #grid__home .cell__logos{
        justify-content: start;
        gap: 3rem;
    }
    .cell__content--md-end{
        justify-content: flex-end;
        align-items: end;
    }
    #grid__home{
        grid-template:
                'home_cell_1 home_cell_2'
                'home_cell_footer home_cell_footer';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        align-items: center;
    }
    #grid__home .cell__header{
        margin-bottom: 0;
    }
}

@media (min-width: 810px) {
    #section__home{
        padding: 5rem 0;
    }
}