#grid__langues {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#grid__langues .grid__cell{
    display: flex;
}

.tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}