#section__presentation {
    position: relative;
    display: block;
    filter: drop-shadow(0px 0px 10px var(--box-shadow));
}
#section__presentation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-primary);
    clip-path: polygon(0 25px, 100% 0, 100% calc(100% - 25px), 0 100%);
    z-index: -1;
}

#grid__presentation{
    grid-template:
    'presentation_cell_1'
    'presentation_cell_2'
    'home_cell_footer';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

#presentation__cell_1{
    grid-area: presentation_cell_1;
    display: none;
}
#presentation__cell_2{
    grid-area: presentation_cell_2;
}

@media (min-width: 810px) {
    #grid__presentation{
        grid-template:
                'presentation_cell_1 presentation_cell_2';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, auto);
    }

    #presentation__cell_1{
        display: block;
    }
}