/* Grid des projets */
#card__certifications,
#card__projets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
}

/* Cellule de projet */
.card .grid__cell {
    background: var(--bg-primary);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

}
.grid__cell--hover{
    box-shadow: 5px 5px 10px var(--shadow-card);
}

.grid__cell--hover:hover{
    transform: translateY(-8px);
    border-color: var(--accent-primary);
    box-shadow: 0 10px 15px var(--shadow-card),
    0 0 20px var(--accent-primary-500);
}

.grid__cell.grid__cell--hover.projet--important{
    border: 2px solid var(--white);
}

/* Header de la cellule (image + titre) */
.card .cell__header {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    width: 100%;
}

.card .cell__header img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
    transition: transform 0.4s ease;
}

.card .cell__header img{
    object-position: center center;
}


.grid__cell circle{
    filter: drop-shadow(0px 0px 5px var(--box-shadow));
}
.card .grid__cell:hover .grid__cell--hover .cell__header img {
    transform: scale(1.08);
}
.card .cell__header .cell__header--content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .2rem 1rem;
    margin: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    color: var(--text-white);
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    text-align: start;
    height: 100%;
    display: flex;
    align-items: end;
}

/* Contenu de la cellule */
.card .cell__content {
    padding: .5rem 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card .cell__content p {
    margin: 0;
}
.card  .cell__content--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.card .cell__logos-langage{
    min-width: 35px;
    height: 40px;
}

.cell__logos--column{
    flex-direction: column;
}

.logo--xs{
    height: 60px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#card__certifications .grid__cell{
    animation: none;
}

#section__projets .button--tertiaire {
    margin-top: 2rem;
    transition: all 0.3s ease;
}
